<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539222775137-9du5nrj4hltghg38ji7uhctkief276rm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539222775137-9du5nrj4hltghg38ji7uhctkief276rm</string>
	<key>API_KEY</key>
	<string>AIzaSyCOQDyZkYJU8Gnxd1dhty1SAKvE66_aLnY</string>
	<key>GCM_SENDER_ID</key>
	<string>539222775137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icecube.icebear</string>
	<key>PROJECT_ID</key>
	<string>icecubear-21644</string>
	<key>STORAGE_BUCKET</key>
	<string>icecubear-21644.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539222775137:ios:9b57c34c3a3e7568</string>
	<key>DATABASE_URL</key>
	<string>https://icecubear-21644.firebaseio.com</string>
</dict>
</plist>